body {
  background-color: #1c1c1c;
  color: #ffffff;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.43;
}

/* LAYOUT */

.container {
  height: 100vh;
}

header,
main {
  box-sizing: border-box;
  /* max-width: 550px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 44px;
}

header {
  height: 208px;
  background: url("./assets/header-bg.png");
  background-size: contain;
  background-size: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  height: 100vh;
  background-color: #121212;
}

.decoration {
  margin: auto;
}

.search-bar {
  box-sizing: border-box;
  position: absolute;
  top: 189px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 44px;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  height: 40px;
  width: 100%;
  background-color: #2e2e2f;
  margin: auto;
  border-radius: 6px;
}

.movie-input {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 12px;
  width: 100%;
}

/* Decoration */
.decoration > img {
  max-width: 150px;
  width: 100%;
}

.decoration-text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25;
  color: #2e2e2f;
}

/* Search Bar */

.search-bar img {
  width: 20px;
}

.search-input {
  color: #a5a5a5;
  background-color: #2e2e2f;
  border: none;
  padding: 9px 11px 9px 0;
  max-width: 300px;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
}

.search-btn {
  height: 40px;
  width: 120px;
  color: white;
  background-color: #4b4b4b;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 9px 11px 9px 17px;
  margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}
